<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <!-- HEADER -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <!-- TABLA 1 -->
        <!--<section th:replace="~{cita/fragmentos :: botonesAgregar}"></section>-->
        <section th:replace="~{cita/fragmentos :: agregarCita}"></section>
        <section th:replace="~{cita/fragmentos :: listadoCitas}"></section>

        
        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
