<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <!-- HEADER -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <!-- TABLA -->
        <section class="container" style="margin-top: 20px;">
            <div class="row" >
                <div class="lg-col-9" th:if="${cita!=null and !cita.empty}">
                    <h3 class="text-center">Lista de Usuarios</h3>
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID Usuario</th>
                                <th scope="col">Fecha de Cita</th>
                                <th scope="col">Hora de Cita</th>
                                <th scope="col">Status</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Administración</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cita : ${cita}">
                                <th scope="row">[[${cita.id_Cita}]]</th>
                                <td>[[${cita.id_Usuario}]]</td>
                                <td>[[${cita.fecha_Cita}]]</td>
                                <td>[[${cita.hora_Cita}]]</td>
                                <td>[[${cita.status}]]</td>
                                <td><a th:href="${cita.url_Mapa}" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/854/854901.png" width="32"></a></td>
                                <td>
                                    <!-- BTN-MODIFICAR -->
                                    <a th:href="@{/cita/editar/}+${cita.id_Cita}"><img src="https://cdn-icons-png.flaticon.com/512/2919/2919592.png" width="32px"></a>
                                    <!-- BTN-ELIMINAR -->
                                    <a th:href="@{/cita/eliminar/}+${cita.id_Cita}"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" width="32px"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${cita ==null or cita.empty}">
                    <p>NO HAY DATOS</p>
                </div>
            </div>
        </section>
        <!-- FIN TABLA -->
        
        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
