<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">


    </head>

    <body class="row">
        <!-- HEADER -->
        <!--<header th:replace="~{layout/plantilla :: header}"></header>-->

        <!-- SIDEBAR -->
        <header class="col-md-4" th:replace="~{layout/plantilla :: sidebar}"></header>

        <!-- Desglose -->
        <div class="col-md-8">
            <br>
            <h3 class="text-center">[[#{index.resumen}]]</h3>
            <div class="row">

                <!-- Ultima Cita -->
                <div class="col-md-4">
                    <section class="container" style="margin-top: 20px;">
                        <div class="row" >
                            <div class="lg-col-6" >
                                <div th:if="${cita ==null or cita.empty}">
                                    <p>[[#{plantilla.sinDatos}]]</p>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" th:each="cita, iter : ${cita}" th:if="${iter.last}">
                                        <h4 class="card-title">[[#{index.ultimaC}]]</h4>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">[[${cita.servicio.nombreServicio}]]</h6>
                                        <p class="card-text">[[#{index.clienteC}]] [[${cita.usuario.nombre}]] [[${cita.usuario.primapellido}]]</p>
                                        <p class="card-text">[[#{index.fechaC}]] [[${cita.fecha_Cita}]]</p>
                                        <a th:href="@{/cita/listado}" class="card-link">[[#{index.verCitas}]]</a>
                                        <a th:href="${cita.url_Mapa}" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/854/854901.png" width="32"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- Ultimo Servicio -->
                <div class="col-md-4">
                    <section class="container" style="margin-top: 20px;">
                        <div class="row" >
                            <div class="lg-col-6" >
                                <div th:if="${servicio ==null or servicio.empty}">
                                    <p>[[#{plantilla.sinDatos}]]</p>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" th:each="servicio, iter : ${servicio}" th:if="${iter.last}">
                                        <h4 class="card-title">[[#{index.ultimoS}]]</h4>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">[[${servicio.nombreServicio}]]</h6>
                                        <p class="card-text">[[${servicio.descripcion}]]</p>
                                        <p class="card-text">₡ [[${servicio.precio}]]</p>
                                        <a th:href="@{/servicio/listado}" class="card-link">[[#{index.verServicios}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- Ultimo Usuario -->
                <div class="col-md-4">
                    <section class="container" style="margin-top: 20px;">
                        <div class="row" >
                            <div class="lg-col-6" >
                                <div th:if="${usuario ==null or usuario.empty}">
                                    <p>[[#{plantilla.sinDatos}]]</p>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" th:each="usuario, iter : ${usuario}" th:if="${iter.last}">
                                        <h4 class="card-title">[[#{index.ultimoU}]]</h4>
                                        <p class="card-subtitle mb-2 text-body-secondary">[[${usuario.nombre}]] [[${usuario.primapellido}]] [[${usuario.segapellido}]]</p>
                                        <p class="card-text">[[#{index.correoU}]] [[${usuario.correo}]]</p>
                                        <p class="card-text">[[#{index.rolU}]] [[${usuario.rol}]]</p>
                                        <a th:href="@{/usuario/listado}" class="card-link">[[#{index.verUsuarios}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            
            <!-- CITAS TABLA -->
            <div>
                <section class="container" style="margin-top: 20px;">
                    <div class="row" >
                        <div class="lg-col-9" >
                            <h3 class="text-center">[[#{citas.listaCitas}]]</h3>
                               
                            <div th:if="${cita ==null or cita.empty}">
                                <p>[[#{plantilla.sinDatos}]]</p>
                            </div>
                            <table class="table table-hover " th:if="${cita!=null and !cita.empty}">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                    <th scope="col">[[#{citas.usuario}]]</th>
                                    <th scope="col">[[#{citas.servicio}]]</th>
                                    <th scope="col">[[#{citas.fechaCita}]]</th>
                                    <th scope="col">[[#{citas.horaCita}]]</th>
                                    <th scope="col">[[#{citas.status}]]</th>
                                    <th scope="col">[[#{citas.direccion}]]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cita : ${cita}">
                                        <th scope="row">[[${cita.id_Cita}]]</th>
                                        <td>[[${cita.usuario.nombre}]] [[${cita.usuario.primapellido}]]</td>
                                        <td>[[${cita.servicio.idServicio}]] - [[${cita.servicio.nombreServicio}]]</td>
                                        <td>[[${cita.fecha_Cita}]]</td>
                                        <td>[[${cita.hora_Cita}]]</td>
                                        <td>
                                            <button th:if="${cita.status == 'pendiente'}" type="button" class="btn btn-warning">[[#{citas.pendiente}]]</button>
                                        <button th:if="${cita.status == 'aceptada'}" type="button" class="btn btn-success">[[#{citas.aceptada}]]</button>
                                        <button th:if="${cita.status == 'rechazada'}" type="button" class="btn btn-danger">[[#{citas.rechazada}]]</button>
                                        </td>
                                        <td><a th:href="${cita.url_Mapa}" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/854/854901.png" width="32"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <!-- FIN TABLA -->
        </div>

        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>

</html>