<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INDEX</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>CHIMBA</div>
        
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th>idUsuario</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Correo</th>
                    <th>Contrasena</th>
                    <th>Rol</th>
                    <th>Telefono</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuario}">
                    <td>[[${usuario.idUsuario}]]</td>
                    <td>[[${usuario.nombre}]]</td>
                    <td>[[${usuario.primApellido}]]</td>
                    <td>[[${usuario.segApellido}]]</td>
                    <td>[[${usuario.correo}]]</td>
                    <td>[[${usuario.contrasena}]]</td>
                    <td>[[${usuario.rol}]]</td>
                    <td>[[${usuario.numTelefono}]]</td>
                    <td>[[${usuario.status}]]</td>
                </tr>
            </tbody>
        </table>

        
        
    </body>
</html>
