<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

        <title>INDEX</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand"><img src="https://cdn-icons-png.flaticon.com/512/9079/9079594.png" alt="Logo" width="30"
                                                 class="d-inline-block align-text-top" />TechSupport</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">LISTA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/usuario/nuevo}">AGREGAR USUARIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="">MODIFICAR</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div style="padding: 10px;" >
            <h4 th:if="${usuario.idUsuario != null}" class="text-center" >USUARIO: [[${usuario.nombre}]] [[${usuario.primapellido}]]</h4>
            <h4 th:if="${usuario.idUsuario ==null}" class="text-center" >Nuevo Usuario</h4>
        </div>
        
        <div style="margin: 20px; padding: 0 40% 0 0">
            <form th:action="@{/usuario/guardar}" method="POST" th:object="${usuario}">
                <input type="hidden" name="idUsuario" th:field='*{idUsuario}' >
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" size="30" id="nombre" th:field="*{nombre}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Primer apellido</label>
                    <input type="text" class="form-control" id="primapellido" th:field="*{primapellido}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" id="segapellido" th:field="*{segapellido}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control" id="correo" th:field="*{correo}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="text" class="form-control" id="contrasena" th:field="*{contrasena}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="Telefono" th:field="*{numtelefono}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-select" th:field="*{status}">
                        <option value='activo' th='<option value="activo">text</option>'>Activo</option>
                        <option value='inactivo' th='<option value="inactivo">text</option>'>Inactivo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">ROL</label>
                    <select class="form-select" th:field="*{rol}">
                        <option value="cliente" th='<option value="cliente">text</option>'>Cliente</option>
                        <option value='administrador' th='<option value="administador">text</option>'>Administrador</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-dark" >TechSupport</a>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        </footer>
    </body>

</html>
