<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    <body>
        <!-- HEADER -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <div style="padding: 10px;" >
            <h4 th:if="${usuario.idUsuario != null}" class="text-center" >USUARIO: [[${usuario.nombre}]] [[${usuario.primapellido}]]</h4>
            <h4 th:if="${usuario.idUsuario ==null}" class="text-center" >Nuevo Usuario</h4>
        </div>

        <div style="margin: 20px; padding: 0 40% 0 0 " class="container">
            <form th:action="@{/usuario/guardar}" method="POST" th:object="${usuario}" class="row">
                <input type="hidden" name="idUsuario" th:field='*{idUsuario}' >
                <div class="col-5">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" size="15" id="nombre" th:field="*{nombre}">
                </div>
                <div class="col-5">
                    <label class="form-label">Primer apellido</label>
                    <input type="text" class="form-control" id="primapellido" th:field="*{primapellido}">
                </div>
                <div class="col-5">
                    <label class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" id="segapellido" th:field="*{segapellido}">
                </div>
                <div class="col-5">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control" id="correo" th:field="*{correo}">
                </div>
                <div class="col-5">
                    <label class="form-label">Contraseña</label>
                    <input type="text" class="form-control" id="contrasena" th:field="*{contrasena}">
                </div>
                <div class="col-5">
                    <label class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="Telefono" th:field="*{numtelefono}">
                </div>
                <div class="col-5">
                    <label class="form-label">Status</label>
                    <select class="form-select" th:field="*{status}">
                        <option value='activo' th='<option value="activo">text</option>'>Activo</option>
                        <option value='inactivo' th='<option value="inactivo">text</option>'>Inactivo</option>
                    </select>
                </div>
                <div class="col-5">
                    <label class="form-label">ROL</label>
                    <select class="form-select" th:field="*{rol}">
                        <option value="cliente" th='<option value="cliente">text</option>'>Cliente</option>
                        <option value='administrador' th='<option value="administador">text</option>'>Administrador</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary my-2 col-5 mx-2" >Submit</button>
            </form>
        </div>

        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>

</html>
