<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    <body class="row">
        <!-- HEADER -->
        <header class="col-md-4" th:replace="~{layout/plantilla :: sidebar}"></header>

        <div class="col-md-8">
            <div style="padding: 10px;" >
                <h4 th:if="${usuario.idUsuario != null}" class="text-center" >[[#{usuarios.USUARIO}]] [[${usuario.nombre}]] [[${usuario.primapellido}]]</h4>
                <h4 th:if="${usuario.idUsuario == null}" class="text-center" >[[#{usuarios.nuevoUsuario}]]</h4>
            </div>

            <div style="margin: 20px; padding: 0 40% 0 0 " class="container">
                <form th:action="@{/usuario/guardar}" method="POST" th:object="${usuario}" class="row">
                    <input type="hidden" name="idUsuario" th:field='*{idUsuario}' >
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.nombre}]]</label>
                        <input type="text" class="form-control" size="15" id="nombre" required="" th:field="*{nombre}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.primApe}]]</label>
                        <input type="text" class="form-control" id="primapellido" required="" th:field="*{primapellido}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.segApe}]]</label>
                        <input type="text" class="form-control" id="segapellido" required="" th:field="*{segapellido}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.correo}]]</label>
                        <input type="email" class="form-control" id="correo" required="" th:field="*{correo}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.contrasena}]]</label>
                        <input type="text" class="form-control" id="contrasena" minlength="8" required="" th:field="*{contrasena}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.telefono}]]</label>
                        <input type="number" class="form-control" id="Telefono" required="" minlength="8" th:field="*{numtelefono}">
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.status}]]</label>
                        <select class="form-select" required="" th:field="*{status}">
                            <option value=1 >[[#{plantilla.activo}]]</option>
                            <option value=0 >[[#{plantilla.inactivo}]]</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <label class="form-label">[[#{usuarios.rol}]]</label>
                        <select class="form-select" required="" th:field="*{rol}">
                            <option value="Cliente">[[#{usuarios.cliente}]]</option>
                            <option value="Empleado" >[[#{usuarios.empleado}]]</option>
                            <option value="Administrador" >[[#{usuarios.administrador}]]</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary my-2 col-5 mx-2" >[[#{accion.guardar}]]</button>
                </form>
            </div>
        </div>

        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>

</html>
