
<html lang="es" xmlns:th="http://www.thymeleaf.org">
     
     <head th:replace="~{layout/plantilla :: head}"></head>

     <body>
     
         <header th:replace="~{layout/plantilla :: header}"></header>
            <section class="container" style="margin-top: 20px;">
                <div class="row" >
                    <div class="lg-col-9" th:if="${servicio!=null and !servicio.empty}">
                        <h3 class="text-center">Lista de Servicios</h3>
                        <!-- TABLA -->
                        <table class="table table-hover" >
                            
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="servicio : ${servicio}">
                                    <th scope="row">[[${servicio.idServicio}]]</th>
                                    <td>[[${servicio.Imagen}]]</td>
                                    <td>[[${servicio.nombreServicio}]]</td>
                                    <td>[[${servicio.descripcion}]]</td>
                                    <td>[[${servicio.precio}]]</td>
                                    <td>[[${servicio.status}]]</td>

                                    <td>
                                        <!-- BTN-MODIFICAR -->
                                        <a th:href="@{/servicio/editar/}+${servicio.idServicio}"><img src="https://cdn-icons-png.flaticon.com/512/2919/2919592.png" width="32px"></a>
                                        <!-- BTN-ELIMINAR -->
                                        <a th:href="@{/servicio/eliminar/}+${servicio.idServicio}"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" width="32px"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${servicio ==null or servicio.empty}">
                        <p>NO HAY DATOS</p>
                    </div>
                </div>
            </section>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
