<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        
        </head>
    <body>
        <!-- HEADER -->
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- FORMULARIO -->

        <div style="padding: 10px;" >
            <h4 th:if="${servicio.idServicio != null}" class="text-center" >SERVICIO: [[${servicio.nombre}]]</h4>
            <h4 th:if="${servicio.idServicio == null}" class="text-center" >Nuevo Servicio</h4>
        </div>

        <div style="margin: 20px; padding: 0 40% 0 0 " class="container">
            <form th:action="@{/servicio/guardar}" method="POST" th:object="${servicio}" class="row">
                <input type="hidden" name="idServicio" th:field='*{idServicio}'>
                <div class="col-5">
                    <label class="form-label">Nombre Servicio</label>
                    <input type="text" class="form-control" size="15" id="nombreServicio" th:field="*{nombreServicio}">
                </div>
                <div class="col-5">
                    <label class="form-label">Descripcion</label>
                    <input type="text" class="form-control" size="15" id="descripcion" th:field="*{descripcion}">
                </div>
                <div class="col-5">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control" id="precio" th:field="*{precio}">
                </div>
                
                <div class="col-5">
                    <label class="form-label">Status</label>
                    <select class="form-select" name="status" id="status" onchange="showInp()" th:field="*{status}">
                        <option value='pendiente' th='<option value="pendiente">text</option>'>Pendiente</option>
                        <option value='aceptada' th='<option value="aceptada">text</option>'>Aceptada</option>
                        <option value='rechazada' th='<option value="rechazada">text</option>'>Rechazada</option>
                    </select>
                </div>
                <div class="col-5">
                    <label class="form-label" id="lblFerchaRechazada" style="display: none">Fecha de Rechazo</label>
                    <input type="text" class="form-control" id="fechaCitaRechazada" style="display: none" th:field="*{fecha_Rechazada}">
                </div>
                
                <button type="submit" class="btn btn-primary my-2 col-5 mx-2" >Submit</button>
            </form>
        </div>

        <!-- FIN FORMULARIO -->

        <!-- HEADER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
